<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h2><%= @teamname %></h2>
   <p><%= @coach %></p>
   <p><%= @pg %></p>
   <p><%= @sg %></p>
   <p><%= @sf %></p>
   <p><%= @pf %></p>
   <p><%= @c %></p>

 </body>
</html>
